@page "/customerdataimport"


<div class="d-flex align-items-center justify-content-center">
    <div class="p-2 m-2 bg-black text-white shadow rounded-2 btn btn-outline-success"> <InputFile OnChange="HandleSelectedFile" /></div>
    <div class="p-2 m-2 bg-danger text-white shadow rounded-2">
        <a href="@exportUrl" download="@exportFileName" class="btn btn-danger" @onclick="ExportFilteredCsvFile">Export File</a>
</div>


   
</div>

@if (customerDatas != null)
{
    <MudSimpleTable Hover="true" Dense="true" FixedHeader="@fixedheader" Style="@(fixedheader?"height:300px;":"")">
        <thead>
            <tr>
                <th>Tenancy Number</th>
                <th>Property Id</th>
                <th>Client Name</th>
                <th>Mobile Number</th>
                <th>Tenancy Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customerData in customerDatas)
            {
                <tr>
                    <td>@customerData.TenancyNumber</td>
                    <td>@customerData.PropertyId</td>
                    <td>@customerData.ClientName</td>
                    @if (customerData.MobileNumber.Length != 11 || !customerData.MobileNumber.StartsWith("07"))
                    {
                        <td class="incorrectMobNum" style="background-color:orange;">@customerData.MobileNumber</td>
                    }
                    else
                    {
                        <td>@customerData.MobileNumber</td>
                    }

                   
                    @if(customerData.TenancyBalance < 0)
                    {
                        <td class="nagativeBalance" style="background-color:red;">@customerData.TenancyBalance</td>
                    }
                    else{
                        <td>@customerData.TenancyBalance</td>
                        
                        }
                   
                </tr>
            }
        </tbody>
    </MudSimpleTable>
    <br />
    <br />
    <div class="card alert-info">
        <div class="card-body">
            @{

                int incorrectMobileNumbers = 0;
                foreach (var customerData in customerDatas)
                {
                    if (customerData.MobileNumber.Length != 11 || !customerData.MobileNumber.StartsWith("07"))
                    {
                        incorrectMobileNumbers++;
                    }
                }

                <p>Number of records imported: @customerDatas.Count</p>
                <p>Number of incorrect mobile numbers: @incorrectMobileNumbers</p>
            }
        </div>
    </div>
    <MudSwitch @bind-Checked="@fixedheader">Fixed Header</MudSwitch>
}
else
{
   
    <div class="border d-flex align-items-center justify-content-center" style="height: 350px;">
        <h3 class="align-middle">Please Import a CSV file!</h3>
    </div>
}


